{% extends 'base.html' %} {% block content %}

<div class="shoppingCart">
  <h1>My Cart</h1>

  <div class="heading">
    <div class="p_name"><h5>Product's Name</h5></div>
    <div class="name"><h5>Quantity</h5></div>
    <div class="name"><h5>Unit Price</h5></div>
    <div class="name"><h5>Total Price</h5></div>
  </div>

  <div class="itemContainer">
    {% if items %}
      {% for item in items %}
      <div class="item">
        <div class="iteminfo">
          <div class="p_img">
            <img src="{{item.product.picture.url}}" alt="" />
          </div>
          <p>{{item.product.name}}</p>
      </div>

      <div class="name"><p>{{item.quantity}}</p></div>
      <div class="name"><p>{{item.product.price}} PLN</p></div>
      <div class="name"><p>{{item.price}} PLN</p></div>
    </div>

    {% endfor %}
  {% else %}
    <p>Your cart is empty</p>
  {% endif %}
  </div>

  <div class="pay-section">
    <h3>Total Price:  {{cart.total_price|default:"0"}} PLN</h3>
    <button onclick = "makePayment()" {% if not items %}  disabled {% endif %}>Pay</button>
  </div>
</div>

<script src="https://checkout.flutterwave.com/v3.js"></script>
<script>

let cart_total = "{{cart.total_price|default:0}}"
let cart_id = "{{cart.id}}"


  function makePayment() {
    FlutterwaveCheckout({
      public_key: "FLWPUBK_TEST-PUBLIC KEY",
      tx_ref: "titanic-48981487343MDI0NzMx",
      amount: cart_total,
      currency: "PLN",
      payment_options: "card, mobilemoneyghana, ussd",
      redirect_url: "http://127.0.0.1:8000/confirm_payment/"+cart_id,
      meta: {
        consumer_id: 23,
        consumer_mac: "92a3-912ba-1192a",
      },
      customer: {
        email: "rose@unsinkableship.com",
        phone_number: "08102909304",
        name: "{{request.user.username}}",
      },
      customizations: {
        title: "Bio Market Store",
        description: "Buy with ease",
        logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
      },
    });
  }

</script>

{% endblock content %}
