<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Quiz Bio</title>
</head>
<body>
    <h1>Mini Quiz Bio</h1>
    <h1 style="text-align: center;">Mini Quiz Bio</h1>

    {% if question %}
<!--    <h2>{{ question.question_text }}</h2>-->
         {% if messages %}
            {% for message in messages %}
                <p><strong>{{ message }}</strong></p>
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}

            {% for value, text in form.fields.answer.choices %}
                <label>
                    <input type="radio" name="answer" value="{{ value }}" {% if messages %}disabled{% endif %}>
                    {{ text }}
                </label><br>
            {% endfor %}

            <br>

            {% if message %}
                <p><strong>{{ message }}</strong></p>
            {% endif %}

            <button type="submit" name="submit" {% if messages %}disabled{% endif %}>Submit</button>
            <button type="submit" name="next">Next</button>
            <button type="submit" name="finish">Finish</button>
        </form>

        <p><strong>Score:</strong> {{ score }}</p>
    {% else %}
        <p>No questions available.</p>
    {% endif %}
</body>
</html>


