{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'css/product_list_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
{% endblock %}

{% block content %}
<div class="container product-list">
    <h1 class="text-center mb-5">Products List</h1>
    {% if products %}
    <div class="row d-flex">
        {% for product in products %}
            {% if product.amount > 0 %}
            <div class="col-md-4 mb-4 product-item">
                <div class="card shadow-sm product-card">
                    <img src="{{ product.image.url }}" class="product-img" alt="{{ product.name }}">
                    <div class="card-body">
                        <h3 class="card-title">{{ product.name_tag }}</h3>
                        <p class="card-text text-primary fw-bold">Price: {{ product.price }} zł</p>
                        <p class="card-text">Category: <strong>{{ product.category }}</strong></p>
                        <p class="card-text">Weight: <strong>{{ product.weight }}</strong></p>
                        <p class="card-text">Expiration date: <strong>{{ product.exp_date }}</strong></p>
                        <p class="card-text">Amount: <strong>{{ product.amount }}</strong></p>
                        <p class="card-text">Producer: <strong>{{ product.producer }}</strong></p>

                        {% if product.id|stringformat:"s" in request.session.cart %}
                            <button class="btn btn-secondary" disabled>Added to Cart</button>
                        {% elif not user.is_authenticated %}
                            <a href="{% url 'login' %}" class="btn btn-primary">Log in to add to cart</a>
                        {% else %}
                            <form method="post" action="{% url 'add_to_cart' product.id %}">
                                {% csrf_token %}
                                <a href="{% url 'add_to_cart' product.id %}" class="btn btn-success btn">Add to Cart</a>
                            </form>
                            <br>
                            <a href="{% url 'single_product' product.id %}" class="btn btn-primary">View Details</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center text-muted">Products not found</p>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}
