{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/product_list_style.css' %}">
{% endblock %}

{% block content %}
<div class="product-container">
    <h1 class="text-center mb-4">Products List</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-12 mb-2">
            <div class="card product-card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ product.image.url }}" class="img-fluid product-img" alt="{{ product.name }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">{{ product.name_tag }}</h4>
                            <div class="product-details">
                                <div>
                                    <p class="card-text"><strong>Category:</strong> {{ product.category }}</p>
                                    <p class="card-text"><strong>Price:</strong> <span class="text-primary fw-bold">{{ product.price }} zł</span></p>
                                    <p class="card-text"><strong>Commission:</strong> {{ product.commission }}</p>
                                    <p class="card-text"><strong>Weight:</strong> {{ product.weight }} g</p>
                                </div>
                                <div>
                                    <p class="card-text"><strong>Expiration date:</strong> {{ product.exp_date }}</p>
                                    <p class="card-text"><strong>Added:</strong> {{ product.created_at|date:"Y-m-d" }}</p>
                                    <p class="card-text"><strong>Amount:</strong> {{ product.amount }}</p>
                                    <p class="card-text"><strong>Producer:</strong> {{ product.producer }}</p>
                                </div>
                            </div>
                            <div class="text-center mt-2">
                                <a href="#" class="btn btn-success btn-sm">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
