body {
    background: url("../images/backgorund.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: normal; !important;
    align-items: normal;!important;
    text-align: start;!important;
    color: white;
}



.featurette-divider {
    color: white;
!important;
}
.container-2 {
    margin-top: 10vh !important;
}


.marketing {
    margin-top: 20rem !important;
    margin-bottom: 5rem;
}

.fa-brands.fa-linkedin {

    transition: color 0.3s ease;
}

.fa-brands.fa-linkedin:hover {
    color: #0077B5; /* Kolor po najchaniu */
}


.fa-brands.fa-github {
    transition: color 0.3s ease;
}

.fa-brands.fa-github:hover {
    color: #2b3137; /* Kolor po najchaniu */
}

.card {
    background: none;
    color: white;
    min-height: 25rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.link-github {
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin: auto;
}

p {
    min-height: 5rem;
}

a {
    text-decoration: none;
    color: white;
    
}

i {
    font-size: 1.5rem;
    /* color: white */
}

.text {
    margin: 0;
    font-size: 16px;
}


.featurette-heading {
    color: #32de84; !important;
}

.lead {
    font-size: 1.75rem; !important;
    font-weight: 300;
}

