
#crewName {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#crewText {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.marketing {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.card {
    background: none;
    color: white;
    min-height: 25rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.link-github {
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin: auto;
}

p {
    min-height: 5rem;
}

a {
    text-decoration: none;
    color: white;
    
}

i {
    font-size: 1.5rem;
    /* color: white */
}

.text {
    margin: 0;
    font-size: 16px;
}

