.product-form h1 {
    color: #343a40;
    margin-bottom: 20px;
    text-align: center;
}

.product-form {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: auto;
}

.product-form-group {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.product-form-group .input-group {
    width: 300px;
}

.product-form-input {
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: 0.3s;
}

.product-form-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.product-form-btn {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
    display: block;
    margin: 0 auto;
}

.product-form-btn:hover {
    background-color: #0056b3;
}

.product-form-warning {
    color: red;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
