html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;

}

body {
    background: url("../images/backgorund.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.navbar-nav {
    margin-right: 3rem;
}

.mt-auto {
    position: fixed;
    bottom: 0;
    width: 100vw;

}

.text-box {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.container {
    /* margin-top: 5rem !important; */
    /* margin-bottom: 15rem !important; */
    flex: 1;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-brand {
    color: white !important;
    font-size: 2rem;
    margin-left: 1rem;
}


.nav-link {
    color: white;
    font-size: 18px;
    margin-left: 20px;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    /*jak chcemy mocniejszy cień co zwiększ ostatnią wartość*/
}


.nav-link:hover {
    color: #32de84;
    background: none;
}


.nav-masthead .nav-link {
    color: rgba(255, 255, 255, 0.75);
    border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link.active {
    border-bottom-color: rgba(255, 255, 255, 0.75);
}

.btn-cart {
    background: none !important;
    color: rgba(255, 255, 255, 0.75);
    border: none;
    border-radius: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.btn-cart:hover {
    border-bottom: 0.25rem solid white !important;
}

.total-price {
    color: black
}