

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: #fff;
    font-size: 40px;
    margin-bottom: 5px;
}


.contact-left-title hr {
    border: none;
    width: 200px;
    height: 5px;
    background: #32de84;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-input {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: gray;
    border-radius: 50px;

}

.contact-left textarea {
    height: 150px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-input:focus {
    border: 2px solid #32de84;
}

.contact-input::placeholder {
    color: gray;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 15px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, #32de84, forestgreen);
    cursor: pointer;
    transition: all 0.3s ease;
}