html, body {
    height: 100%;
    margin: 0;
}

.mt-auto {
    position: fixed;
    bottom: 0;
    width: 100vw;

}

.text-box {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}


.footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 14px;
    color: white;
    width: 100%;
}

.nav {
    margin-left: auto;
}


.nav-link {
    color: white;
    font-size: 18px;
    margin-left: 20px;
}

.nav-link:hover {
    color: #32de84;
}


.nav-masthead .nav-link {
    color: rgba(255, 255, 255, 0.75);
    border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link.active {
    border-bottom-color: rgba(255, 255, 255, 0.75);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.dropdown-item:hover {
    background-color: #4d534f;
    color: #fff;               
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* name logo font */
#BioPotato {
    font-family: Megrim, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


#contactNav {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#storeNav {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#aboutNav {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

/* bckground photo */
body {
    background: url("../images/backgorund.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* name logo font */
#BioPotato {
    font-family: Megrim, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


#contactNav {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#storeNav {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#aboutNav {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}


/* text animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-text {
    opacity: 0;
    animation: fadeIn 4s ease-in forwards;
}


.fade-text {
    animation: fadeIn 4s ease-in forwards;
}


.fade-text:nth-of-type(1) {
    animation-delay: 3s;
}

.fade-text:nth-of-type(2) {
    animation-delay: 3.5s;
}

.fade-text:nth-of-type(3) {
    animation-delay: 4s;
}


a {
    animation-delay: 4.5s;
}

.fadeIn {
    font-family: "Microsoft JhengHei Light", sans-serif;
}


.typewriter {
    display: flex;
    justify-content: center;
}

.typewriter p {
    font-size: 2rem;
    margin-inline: auto ;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 3s steps(22), blink 0.75s step-end infinite alternate;
}

/* Animacja pisania */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Animacja migania kursora */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}