/* name logo font */
#BioPotato {
    font-family: Megrim, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


#contactNav {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#storeNav {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#aboutNav {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.fade-text {
    opacity: 0;
    animation: fadeIn 4s ease-in forwards;
}

.fade-text:nth-of-type(1) {
    animation-delay: 3s;
}

.fade-text:nth-of-type(2) {
    animation-delay: 3.5s;
}

.fade-text:nth-of-type(3) {
    animation-delay: 4s;
}


a {
    animation-delay: 4.5s;
}

.fadeIn {
    font-family: "Microsoft JhengHei Light", sans-serif;
}


.typewriter {
    display: flex;
    justify-content: center;
}

.typewriter p {
    font-size: 2rem;
    margin-inline: auto ;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 3s steps(22), blink 0.75s step-end infinite alternate;
}

/* text animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animacja pisania */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Animacja migania kursora */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}