.product-list {
    margin-top: 10rem !important;
}

.product-card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
}

.product-card:hover {
    transform: scale(1.02);
}

.product-img {
    width: 240px;
    height: 240px;
    object-fit: fill;
}

.card-body {
    height: 45%;

}

.btn-lg {
    width: 100%;
}

/* .image_size{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

p {
    min-height: 0;
}


.empty_cart {
    color: black
}

.product-item {
    max-width: 20% !important;
    /* flex: 0 0 20% !important;  */
}