.card-header {
  background-color: #444d56 !important;
}

div button {
  background-color: #444d56 !important;
  border-color: #444d56 !important;
}

div small a {
  text-decoration: underline;
}

label {
  color:#2c3136
}

.card-footer {
  background-color: #444d56;
}

.login-join {
  text-decoration: underline;
}