.user-profile {
  margin-top: 10rem !important;
}

.dropdown-item:hover {
  background-color: #444d56;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card-header {
  background-color: #444d56 !important;
}

div button {
  background-color: #444d56 !important;
  border-color: #444d56 !important;
}

div small a {
  text-decoration: none;
}

label {
  color: white;
}

i {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.modal-body {
  color: black !important;
}

.btn-close {
  background-color: white !important;
}

.delete-button {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.delete-button:hover {
  background-color: #bb2d3b !important;
  border-color: #bb2d3b !important;
}